* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.contenido{
    display:grid;
    grid-template-columns:250px 1fr;
    gap:30px;
    padding:20px 60px 60px;
}

/*TITULO*/

.titulo {
  text-align: center;
  margin-bottom: 45px;
}

.titulo h2 {
  font-size: 38px;
  color: #111111;
  margin-bottom: 10px;
}

.titulo p {
  font-size: 18px;
  color: var(--color-texto-suave);
}

/*FILTROS*/
.filtro{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.08);
}

.filtro h2{
    margin-bottom:20px;
}

.filtro h3{
    margin-top:20px;
    margin-bottom:10px;
    color:#4CAF50;
}

.filtro label{
    display:block;
    margin:8px 0;
    cursor:pointer;
}

.filtro button{

    width:100%;
    margin-top:25px;
    padding:12px;
    border:none;
    background:#4CAF50;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.filtro button:hover{
    background:#388E3C;
}

/*CONTENEDOR*/
.productos{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}
.card{
  background:white;
  border-radius:15px;
  padding:20px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
  transition:.3s;
}

.card:hover{
  transform:translateY(-8px);
}

.card img {
  width: 220px;
  height: 220px;
  display: block;       
  margin: 0 auto;       
  object-fit: contain;
}

.card h3{
  margin-top:15px;
  color:#333;
}

.card p{
  margin:10px 0;
  color:#777;
}

.card h2{
  color:#4CAF50;
  margin-bottom:15px;
}
.productos button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-verdePrincipal);
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.productos button:hover{
    background-color: #116c30;
}
.tag{
  font-size: 0.75rem;
  font-weight: bold;
  color:#116c30;
  background-color: #d9f2ee;
  padding: .15rem .5rem;
  border-radius: 999px;
}
@media(max-width:900px){

.contenido{

        grid-template-columns:1fr;

    }

.productos{

        grid-template-columns:repeat(2,1fr);

    }

}